@import './reset';


@font-face {
  font-family: "lekton";
  src: url("/fonts/lekton/lekton-regular.ttf") format('truetype'), url("/fonts/lekton/lekton-regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lekton";
  src: url("/fonts/lekton/lekton-bold.ttf") format('truetype'), url("/fonts/lekton/lekton-bold.woff") format('woff');
  font-weight: 700;
  font-style: bold;
}

/* 
  CSS
*/
html {
  background: #EEF1F1;
  font-size: 14px;
}

body {
  background: #EEF1F1;
  color: #111;
  font-family: "lekton", monospace;
  height: auto;
  line-height: 1.5;
  min-height: 100%;
}

a {color: #111}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    &::after {
      content: '';
      flex-grow: 999999999;
    }
    div {
      margin: 4px;
      background-color: rgba(0,0,0,0.1);
      position: relative;
    }
    i {
      display: block;
    }
    img {
      position: absolute;
      top: 0;
      width: 100%;
      vertical-align: bottom;
    }
}

main {
  display: grid;
  grid-template-columns: 248px auto;
  grid-template-rows: 52px auto 80px;
  gap: 16px;
  padding: 32px;
  min-height: 100vh;
  box-sizing: border-box;
  #sidebar {
    grid-column: 1;
    grid-row: 1;
  }
  #meta {
    grid-column: 1;
    grid-row: 2;
  }
  #content {
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
  }
  #footer {
    grid-column: 1 / -1;
    grid-row: 3;
    margin: 64px 0 0;
  }
}

#logo{
  margin-bottom: 44px; 
  path {
    animation: logoPalette 20s infinite;
    -webkit-animation: logoPalette 20s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;  
    opacity: 0.8;
  }
}

#photo {
  text-align: center;
}

.photo-meta {
  opacity: .6;
  margin: 12px 0;
}

@media (max-width: 1024px) {

  main {
      grid-template-columns: auto;
      grid-template-rows: 52px auto auto 80px;
      gap: 16px;
      padding: 32px;
      min-height: 100vh;
      box-sizing: border-box;
      padding: 24px 16px;

      #sidebar {
        grid-column: 1;
        grid-row: 1;
      }
  
      #meta {
        grid-column: 1;
        grid-row: 3;
      }
  
      #content {
        grid-column: 1;
        grid-row: 2;
        overflow: auto;
      }
  
      #footer {
        grid-column: 1;
        grid-row: 4;
        margin: 64px 0 0;
      }
    }

}