@import './reset';


@font-face {
  font-family: "lekton";
  src: url("/fonts/lekton-regular.ttf") format('truetype'), url("/fonts/lekton-regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lekton";
  src: url("/fonts/lekton-bold.ttf") format('truetype'), url("/fonts/lekton-bold.woff") format('woff');
  font-weight: 700;
  font-style: bold;
}

/* 
  CSS
*/
html {
  background: #EEF1F1;
  font-size: 62.5%;
}

body {
  background: #EEF1F1;
  font-family: #111;
  height: auto;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}